{% extends 'base.html'%}
{% load static %}

{% block content%}

{% include 'includes/header-section.html'%}

<!-- Hero section -->
{% include 'includes/hero-section.html'%}
<!--  end hero section -->

<!-- department section -->
{% include 'includes/department-section.html'%}
<!-- end department section -->

<!-- about section -->
{% include 'includes/about-section.html'%}
<!-- end about section -->

<!-- doctor section -->
{% include 'includes/doctors-section.html'%}
<!-- end doctor section -->



<!-- client section -->

{% include 'includes/client-section.html'%}

<!-- end client section -->

<!-- contact section -->
{% include 'includes/contact-section.html'%}
<!-- end contact section -->


<!-- footer section -->
{% include 'includes/footer-section.html'%}
<!-- footer section -->

 {% endblock %}